/* Core theme (bright and pretty rules) */

/* Background */
html, body, [class*=css] {
    margin: 0;
    padding: 0;
    background-image: url('../images/wisp.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}